body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.land {
    background: url(../assets/images/travelhome.jpg);
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.customTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px 43px 0px 0px;
    color: #000000a6;
    margin-bottom: 0px;
    width: 40%;
    padding-left: 0;
}

.customContent {
    border-radius: 6px;
    margin-bottom: none;
    width: 96%;
    padding-left: 0;
}

.astucesTitle {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
    font-weight: 400;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.astucesContent {
    border-radius: 6px;
    margin-bottom: none;
    color: #0E1D36;
    width: 96%;
    padding-left: 13px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}


/* hr css in the middle  */

.tab {
    font-size: 18px;
    color: #0E1D36;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 10px;
}

.separator::before,
.separator::after {
    content: ' ';
    flex: 2;
    border-bottom: 1px solid white;
}

.separator::before {
    margin-right: .30em !important;
}

.separator::after {
    margin-left: .30em !important;
}

.fonty {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.fonts {
    font-family: 'Poppins', sans-serif;
    color: #0E1D36;
    font-size: 18px;
}

.fontss {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}

.separators {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 15px;
}

.separators::before,
.separators::after {
    content: ' ';
    flex: 2;
    border-bottom: 2px solid #0E1D36;
}

.separators::before {
    margin-right: .30em !important;
}

.separators::after {
    margin-left: .30em !important;
}


/* table css */

table,
th,
td,
tr {
    border: solid 1px #0E1D36;
    padding: 10px;
}

table {
    width: fit-content;
    font-size: 50px;
    font-weight: bold;
    padding-top: 5px;
}

.mt {
    margin-left: 80px !important;
}

.mt1 {
    margin-left: 50px !important;
}

.navbar-nav>.nav-item>.nav-link {
    color: #0E1D36 !important;
    font-weight: bold !important;
}

.subheadings {
    color: #0E1D36;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.subheadings span {
    color: #0E1D36;
    position: relative;
}

.subheadings span:after {
    position: absolute;
    top: 49%;
    right: -170px;
    content: '';
    width: 150px;
    height: 1px;
    background: #0E1D36;
}

.mT {
    margin-top: 80px !important;
}

.imgs {
    max-width: 45px;
    position: relative;
}