.separatorss {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 15px;
}

.separatorss::before,
.separatorss::after {
    content: ' ';
    flex: 2;
    border-bottom: 2px solid #0E1D36;
}

.separatorss::before {
    margin-right: .80em !important;
}

.separatorss::after {
    margin-left: .30em !important;
}
.land {
    background: url(../assets/images/travelhome.jpg);
    width: 100%;
    max-height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}
/* .imgs {
    max-width: 45px;
    position: relative;
} */

.mT {
    margin-top: 80px !important;
}
